/*
 * 1. Minimum size for all pages
      Avoid layout disruption in small devices
 *    320px: Android default browser portrait (4.2.2)
 */
body {
  min-width: 320px; /* 1 */
}

.text-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}