/*
 * 1. Minimum size for all pages
      Avoid layout disruption in small devices
 *    320px: Android default browser portrait (4.2.2)
 */
body {
  min-width: 320px; /* 1 */
}

.text-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.loading-dots {
  text-align: center;
}

.error-message-wrapper {
  margin-top: 120px;
  margin-bottom: 130px;
  color: #888;
}
.error-message-title,
.error-message-footer {
  text-align: center;
}
.error-message-title h1 {
  color: #555;
  font-size: 2em;
  font-weight: 400;
}
.error-message-description {
  display: block;
  margin-top: 5px;
}

.quote-tweet {
  font-size: 14px;
}

/* =============================================================================================
   Application specific defaults
   ============================================================================================= */
   
/*
 * 1. Overrides bootstrap.
 *    There is no reason for having additional margin in the last paragraph of a media component.
 */
.media-body p {
  margin-bottom: 5px; /* 1 */
}

/* =============================================================================================
   Angular
   ============================================================================================= */
   
[ng-cloak] {
  display: none;
}