.editor-chapter:after {
  content: "*\2003*\2003*";
  display: block;
  margin: 50px 0 30px;
  font-size: 25px;
  text-align: center;
}
.editor-chapter:last-child:after {
  content: "";
}
.editor-chapter-title-header {
  margin-top: 0;
  margin-bottom: 0;
}
.editor-chapter-title-header,
.editor-chapter-title-name {
  margin-bottom: 10px;
}

/* Thumbs
   ========================================================================== */
   
.editor-chapter-thumbs.affix {
  top: 69px;
}
.editor-chapter-thumbs-items {
  margin-bottom: 10px;
}
.editor-chapter-thumb-publish {
  position: absolute;
  top: 5px;
  right: 5px;
}

/**
 * 1. Reset bootstrap focus styles.
 *    Firefox keeps focus after clicking and then immediately disabling the element after
 *    publishing the chapter
 */
 
.editor-chapter-thumb-publish[disabled],
.editor-chapter-thumb-publish[disabled]:focus { /* 1 */
  border: none;
  background: none;
  text-shadow: none;
  color: #3C763D;
  opacity: 1;
}
.editor-chapter-thumbs-items .active .editor-chapter-thumb-publish[disabled],
.editor-chapter-thumbs-items .active .editor-chapter-thumb-publish[disabled]:focus { /* 1 */
  color: #FFF;
}
.editor-chapter-thumb-publish[disabled]:focus { /* 1 */
  box-shadow: none;
}