/* Steps
   ========================================================================== */
   
.story .step {
  width: 930px;
  opacity: 0;
  -webkit-transition: opacity .3s;
     -moz-transition: opacity .3s;
      -ms-transition: opacity .3s;
       -o-transition: opacity .3s;
          transition: opacity .3s;
}
.story .step.active {
  opacity: 1;
}

/* Samsung Galaxy Gran Neo Duos - Landscape */
@media ( min-width: 530px ) {
  .story .step {
    width: 1586px;
  }
}

/* iPad - Portrait */
@media ( min-width: 768px ) {
  .story .step {
    width: 962px;
  }
}

/* iPad - Landscape */
@media ( min-width: 1024px ) {
  .story .step {
    width: 943px;
  }
}

/* Details
   ========================================================================== */
   
.story-details-title {
  font-size: 200%;
  text-align: center;
}
.story-details-summary {
  display: block;
}

/* Chapter
   ========================================================================== */
   
.story-chapter {
  text-align: center;
}
.story-chapter-title {
  font-size: 170%;
}
.story-chapter-name {
  white-space: nowrap;
}