.story-content {
  font-size: 35px;
}
/* sm */
@media ( min-width: 768px ) {
  .story-content {
    font-size: 30px;
  }
}
/* lg */
@media ( min-width: 1200px ) {
  .story-content {
    font-size: 25px;
  }
}