/* Content
   ========================================================================== */
   
.story-content {
  font-size: 12px;
}

/* Steps
   ========================================================================== */
   
.story-home-title,
.story-chapter-title {
  text-align: center;
}
.story-home-summary {
  display: block;
}