/* Content
   ========================================================================== */
   
.impress-supported .story-content {
  font-size: 35px;
  pointer-events: none;
}
/* sm */
@media ( min-width: 768px ) {
  .impress-supported .story-content {
    font-size: 30px;
  }
}
/* lg */
@media ( min-width: 1200px ) {
  .impress-supported .story-content {
    font-size: 25px;
  }
}

/* Steps
   ========================================================================== */
   
.impress-supported .story .step {
  width: 930px;
  opacity: 0;
  -webkit-transition: opacity .3s;
     -moz-transition: opacity .3s;
      -ms-transition: opacity .3s;
       -o-transition: opacity .3s;
          transition: opacity .3s;
}
.impress-supported .story .step.active {
  opacity: 1;
}

/* Samsung Galaxy Gran Neo Duos - Landscape */
@media ( min-width: 530px ) {
  .impress-supported .story .step {
    width: 1586px;
  }
}

/* iPad - Portrait */
@media ( min-width: 768px ) {
  .impress-supported .story .step {
    width: 962px;
  }
}

/* iPad - Landscape */
@media ( min-width: 1024px ) {
  .impress-supported .story .step {
    width: 943px;
  }
}

/* Details
   ========================================================================== */
   
.impress-supported .story-home-title {
  font-size: 200%;
  text-align: center;
}
.impress-supported .story-home-summary {
  display: block;
}

/* Chapter
   ========================================================================== */
   
.impress-supported .story-chapter {
  text-align: center;
}
.impress-supported .story-chapter-title {
  font-size: 170%;
}
.impress-supported .story-chapter-name {
  white-space: nowrap;
}

/* Footer
   ========================================================================== */
   
.impress-supported .story-footer {
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  text-align: center;
  background-color: #FFF;
}

/* Controls
   ========================================================================== */
   
.impress-supported .story-controls {
  text-align: center;
}
.impress-supported .story-controls-prev-chapter,
.impress-supported .story-controls-next-chapter {
  font-weight: bold;
}

.impress-supported .story-controls-prev-chapter,
.impress-supported .story-controls-next-chapter {
  opacity: 0;
  -webkit-transition: opacity .6s, transform .6s;
     -moz-transition: opacity .6s, transform .6s;
      -ms-transition: opacity .6s, transform .6s;
       -o-transition: opacity .6s, transform .6s;
          transition: opacity .6s, transform .6s;
}
.impress-supported .story-controls-prev-chapter {
  transform: translateX(-100px);
}
.impress-supported .story-controls-next-chapter {
  transform: translateX(100px);
}
.impress-supported .story-controls-prev-chapter.story-controls-visible,
.impress-supported .story-controls-next-chapter.story-controls-visible {
  opacity: 1;
  transform: translateY(0);
}