/* Font
   ========================================================================== */
   
.story-content {
  font-size: 12px;
}
.story-home-title,
.story-chapter-title {
  font-size: 30px;
}
/* sm */
@media ( min-width: 768px ) {
  .story-content {
    font-size: 25px;
  }
  .story-home-title,
  .story-chapter-title {
    font-size: 45px;
  }
}
/* lg */
@media ( min-width: 1200px ) {
  .story-content {
    font-size: 23px;
  }
  .story-home-title,
  .story-chapter-title {
    font-size: 40px;
  }
}

/* Content
   ========================================================================== */
   
.story-content {
  pointer-events: none;
}

/* Steps
   ========================================================================== */
   
.story-home-title,
.story-chapter-title {
  text-align: center;
}
.story-home-summary {
  display: block;
}
.step {
  opacity: 0;
  -webkit-transition: opacity .3s;
     -moz-transition: opacity .3s;
      -ms-transition: opacity .3s;
       -o-transition: opacity .3s;
          transition: opacity .3s;
}
.step.story-chapter {
  -webkit-transition: opacity .6s;
     -moz-transition: opacity .6s;
      -ms-transition: opacity .6s;
       -o-transition: opacity .6s;
          transition: opacity .6s;
}
.step.active {
  opacity: 1;
}

/* Chapter step
   ========================================================================== */
   
.story-chapter-name {
  white-space: nowrap;
}

/* Footer
   ========================================================================== */
   
.story-footer {
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  text-align: center;
  background-color: #FFF;
}

/* Controls
   ========================================================================== */
   
.story-controls {
  text-align: center;
}
.story-controls-prev-chapter,
.story-controls-next-chapter {
  font-weight: bold;
}

/* Controls animation
   ========================================================================== */
   
.story-controls-prev-chapter,
.story-controls-next-chapter {
  opacity: 0;
  -webkit-transition: opacity .6s, transform .6s;
     -moz-transition: opacity .6s, transform .6s;
      -ms-transition: opacity .6s, transform .6s;
       -o-transition: opacity .6s, transform .6s;
          transition: opacity .6s, transform .6s;
}
.story-controls-prev-chapter {
  transform: translateX(-100px);
}
.story-controls-next-chapter {
  transform: translateX(100px);
}
.story-controls-prev-chapter.story-controls-visible,
.story-controls-next-chapter.story-controls-visible {
  opacity: 1;
  transform: translateY(0);
}