/* =============================================================================================
   Base
   ============================================================================================= */
   
.story-chapter {
  text-align: center;
}

/* =============================================================================================
   Simple
   ============================================================================================= */
   
.impress-not-supported .story-chapter {
  display: block;
  margin: 50px 0 30px;
  text-align: center;
}

.impress-not-supported .story-footer {
  display: none;
}