.index-banner {
  text-align: center;
  background-color: #3C3C3C;
  box-shadow: 0 0 150px #000 inset;
}
.index-banner-container {
  margin-bottom: 50px;
}
.index-banner .index-banner-closed,
.index-banner .index-banner-terms {
  margin: 0 auto;
  font-size: 15px;
  color: #FFF;
}
.index-banner-contact a,
.index-banner-terms a {
  color: #FFF;
  text-decoration: underline;
}
.index-banner h1,
.index-banner-paragraph {
  color: #FFF;
}
.index-stories-container {
  margin-top: -75px;
}

.motivational-block {
  padding-top: 20px;
  padding-bottom: 20px;
}
.quote {
  width: auto;
}