textarea.details-meta-summary {
  height: 134px;
  resize: none;
}
textarea.details-meta-synopsis {
  height: 286px;
  resize: none;
}
/* sm */
@media ( min-width: 768px ) {
  textarea.details-meta-summary {
    height: 75px;
  }
  textarea.details-meta-synopsis {
    height: 210px;
  }
}
/* md */
@media ( min-width: 992px ) {
  textarea.details-meta-summary {
    height: 55px;
  }
  textarea.details-meta-synopsis {
    height: 275px;
  }
}
/* lg */
@media ( min-width: 1200px ) {
  textarea.details-meta-summary {
    height: 54px;
  }
  textarea.details-meta-synopsis {
    height: 254px;
  }
}