/* =============================================================================================
   Meta
   ============================================================================================= */
   
.editor-meta-block {
  margin-bottom: 20px;
}
textarea.editor-summary {
  height: 59px;
  resize: none;
}
textarea.editor-synopsis {
  height: 108px;
  resize: none;
}
/* md */
@media ( min-width: 992px ) {
  textarea.editor-summary {
    height: 74px;
  }
  textarea.editor-synopsis {
    height: 104px;
  }
}
/* lg */
@media ( min-width: 1200px ) {
  textarea.editor-summary {
    height: 79px;
  }
  textarea.editor-synopsis {
    height: 149px;
  }
}

/* =============================================================================================
   Story
   ============================================================================================= */
   
.editor {
  font-family: "Trebuchet MS", "Times New Roman";
}
.editor-title {
  margin-top: 20px;
}
.editor-title-header {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}
.editor-chapter {
  display: inline-block;
  padding-bottom: 2px;
  padding-right: 50px;
  border-bottom: 1px solid #EEE;
}
.editor-chapter-title {
  display: block;
  margin-top: 10px;
  vertical-align: middle;
}
/* sm */
@media ( min-width: 768px ) {
  .editor-chapter-title {
    display: inline; 
    margin-top: 0;
    white-space: nowrap;
  }
}