.editor {
  margin-bottom: 50px;
}

.editor-title {
  margin-bottom: 20px;
}
.editor-title-header {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  font-family: "Trebuchet MS", "Times New Roman";
}

.editor-chapter-thumbs {
  width: 154px;
  padding-right: 5px;
  white-space: nowrap;
  overflow: auto;
}
.editor-chapter-thumbs.affix {
  top: 65px;
}
.editor-chapter-thumb {
  display: inline-block;
  width: 130px;
  height: 80px;
  margin-right: 5px;
  margin-bottom: 10px;
  border: 1px solid #CCC;
  box-shadow: 0 1px 1px rgba( 0, 0, 0, 0.075 );
  cursor: default;
  transition: border-color 0s;
}
.editor-chapter-thumb:hover,
.editor-chapter-thumb:focus {
  border-width: 2px;
}
.editor-chapter-thumb:hover {
  border-color: #BBB;
}
.editor-chapter-thumb:focus {
  border-color: #428BCA;
}
/* sm */
@media ( min-width: 768px ) {
  .editor-chapter-thumb {
    display: block;
    width: 100%;
    margin-right: 0;
  }
}
.editor-chapter-title {
  display: inline-block;
  margin-bottom: 10px;
  padding-bottom: 2px;
  padding-right: 50px;
  border-bottom: 1px solid #EEE;
}
.editor-chapter-title-header {
  margin-top: 0;
  margin-bottom: 3px;
}
.editor-chapter-title-header-name {
  display: block;
  margin-top: 10px;
  vertical-align: middle;
}
/* sm */
@media ( min-width: 768px ) {
  .editor-chapter-title-header-name {
    display: inline; 
    margin-top: 0;
    white-space: nowrap;
  }
}
.editor-chapter-text {
  margin-bottom: 10px;
  resize: none;
}