.main-title {
  margin-top: 0;
}
/*
 * 1. Bootstrap override
 */
.invites-table td,
.invited-table td {
  vertical-align: middle !important; /* 1 */
}
.invites-table-using {
  width: 160px;
  text-align: right;
}
/**
 * 1. Make the td content dictate the td width.
      "width: 0px" doesn't work in Safari and Chrome.
 */
.invited-avatar {
  width: 1px; /* 1 */
}